@model IEnumerable<ClinicWeb.Models.ScheduleClinicInfo>

@{
    ViewData["Title"] = "ClinicInfoPartial";
}

<h2>ClinicInfoPartial</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JumpStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClincRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumpStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClincRoom.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicTime.ClinicShifts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClinicInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClinicInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClinicInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
