@model ClinicWeb.ViewModels.DrugDetailsViewModel

@{
    ViewData["Title"] = "藥品明細表";
}
@section Styles {
    <style>
        /* 格式還是有點問題 */
        .texts {
            font-size: 20px;
            margin-top: 3px;
            border-bottom: solid 1px
        }

        .center {
            text-align: center;
        }

    </style>
}
@{
    //渲染藥品懷孕部分的HTML結構
    string pregnancyCategoryHtml = "";
    if (!string.IsNullOrEmpty(Model?.PregnancyCategory))
    {
        pregnancyCategoryHtml = $@"
 <div class='row texts mb-3'><dt class='col-sm-3'><strong>懷孕風險藥品分級類別:</strong></dt><dd class='col-sm-9'><a href='{Url.Content("~/FHealthInformation/pregnancycategory")}' asp-append-version='true'>{Model?.PregnancyCategory}</a></dd></div>";
    }

}

<!--h2的class將按紐移至畫面右方-->
<h2 class="d-flex justify-content-between align-items-center">
    藥品明細表-@Model?.DrugName
    <div>
    <!--加入仿單PDF按紐-->
        <button id="openPDF_off-label_use" type="button" class="btn btn-primary ml-auto" data-drugid="@Model?.DrugId">打開仿單</button>
        <!--加入用藥教育PDF按紐-->
        <button id="openPDF_clinic" type="button" class="btn btn-primary ml-auto" data-drugid="@Model?.DrugId">打開用藥教育</button>
    </div>
</h2>

<br />
<hr />

<form asp-controller="MBRecordInfo" asp-action="GetData" method="get">
    <div>
        <div class="from-group">
            <dl id="createExcel">
                <!--藥品ID-->
                <div class="row texts mb-3">
                    @* mb- 調整邊界距離*@
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.DrugId) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.DrugId
                    </dd>
                </div>
                <!--藥品代碼-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.DrugCode) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.DrugCode
                    </dd>
                </div>
                <!--藥品學名-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.GenericName) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.GenericName
                    </dd>
                </div>
                <!--藥品商品名-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.TradeName) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.TradeName
                    </dd>
                </div>
                <!--藥品中文名-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.DrugName) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.DrugName
                    </dd>
                </div>
                <!--藥品適應症-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.ClinicalUse) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @if (Model?.ClinicalUse != null && Model.ClinicalUse.Any())
                        {
                            <ul>
                                @foreach (var list in Model.ClinicalUse)
                                {
                                    <li>@list</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>此藥品沒提供適應症資料，請直接諮詢醫師。</span>
                        }
                    </dd>
                </div>
                <!--藥品副作用-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.SideEffect) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @if (Model?.SideEffect != null && Model.SideEffect.Any())
                        {
                            <ul>
                                @foreach (var list in Model.SideEffect)
                                {
                                    <li>@list</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>此藥品沒提供副作用資料，請直接諮詢醫師。</span>
                        }
                    </dd>
                </div>
                <!--藥品劑型-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.DrugType) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.DrugType
                    </dd>
                </div>
                <!--藥品常用劑量-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.DrugDose) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.DrugDose
                    </dd>
                </div>
                <!--藥品最大劑量-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.MaxDose) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.MaxDose
                    </dd>
                </div>
                <!--藥品警語/禁忌-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Precautions) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Precautions
                    </dd>
                </div>
                <!--藥品注意事項-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Warnings) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Warnings
                    </dd>
                </div>
                <!--藥品懷孕-->
                @* @Html.Raw(pregnancyCategoryHtml) *@
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.PregnancyCategory) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        <a href="@Url.Content("~/FHealthInformation/pregnancycategory")" asp-append-version="true">
                            @Model?.PregnancyCategory
                        </a>
                    </dd>
                </div>
                <!--保存方法-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Storage) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Storage
                    </dd>
                </div>
                <!--藥商-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Supplier) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Supplier
                    </dd>
                </div>
                <!--廠牌-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Brand) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Brand
                    </dd>
                </div>
                <!--用法-->
                <div class="row texts mb-3">
                    <dt class="col-sm-3">
                        <strong>
                            @Html.DisplayNameFor(model => model.Dosage) :
                        </strong>
                    </dt>
                    <dd class="col-sm-9">
                        @Model?.Dosage
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</form>
<div class="center">
    <button class="btn btn-success " id="downloadExcel">下載EXCEL</button>
</div>


@* 適應症&副作用沒有的情況沒測試 *@
@section Scripts {
    <!--引入Sheetjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.3/xlsx.full.min.js"></script>

    <script>
        $(document).ready(function () {
            //網頁載入時執行此ajax，判斷資料庫是否有值
            var drugId = $('#openPDF_off-label_use').data('drugid');
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CheckPdfExistence", "MBRecordInfo")',
                data: { drugId: drugId },
                success: function (data) {
                    if (data.exists) {
                        console.log(data.exists);
                        //如果有這筆資料，啟用按鈕
                        $('#openPDF_off-label_use').prop('disabled', false);
                    } else {
                        //如果沒有這筆資料，禁用按鈕
                        console.log(data.exists);
                        $('#openPDF_off-label_use').prop('disabled', true);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //jqXHR:jQuery的XMLHttpRequest對象錯誤訊息
                    //textStatus:請求的狀態，例如timeout(超時)、error(錯誤)、abort(中止)
                    //errorThrown:伺服器返回錯誤訊息或由瀏覽器引發的異常訊息
                    console.log('Ajax request error:', textStatus, errorThrown);
                    //不用做任何操作，按鈕保持啟用狀態
                }
            });
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CheckOtherPdfExistence", "MBRecordInfo")',
                data: { drugId: drugId },
                success: function (data) {
                    if (data.exists) {
                        console.log(data.exists);
                        $('#openPDF_clinic').prop('disabled', false);
                    } else {
                        console.log(data.exists);
                        $('#openPDF_clinic').prop('disabled', true);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Ajax request error:', textStatus, errorThrown);
                }
            })
        })

        
        $('#openPDF_off-label_use').click(function () {
            //獲取drugId
            var drugId = $(this).data('drugid');

            //創建一個<a>元素開啟PDF仿單
            var link = document.createElement('a');
            link.href = '@Url.Action("GetPdf", "MBRecordInfo")' + '?drugId=' + drugId;
            link.target = '_blank';
            document.body.appendChild(link);
            
            link.click();

            document.body.removeChild(link);           
        });

        $('#openPDF_clinic').click(function () {
            //獲取drugId
            var drugId = $(this).data('drugid');

            //創建一個<a>元素開啟PDF仿單
            var link = document.createElement('a');
            link.href = '@Url.Action("GetOtherPdf", "MBRecordInfo")' + '?drugId=' + drugId;
            link.target = '_blank';
            document.body.appendChild(link);

            link.click();

            document.body.removeChild(link);
        });

        //加入藥品明細下載成EXCEL功能
        const download = document.getElementById('downloadExcel');
        download.addEventListener('click', function () {


            //創建EXCEL
            var wb = XLSX.utils.book_new();
            wb.Props = {
                Title: "Drug List",         //工作表1的名稱
                Author: "Your Name",       //EXCEL的作者名稱
                CreatedDate: new Date()   //抓創建日期
            };

            var wsData = [];
            var rows = document.querySelectorAll('dt, dd');
            for (var i = 0; i < rows.length; i += 2) {
                var term = rows[i].innerText;
                var description = rows[i + 1].innerText;
                wsData.push([term, description]);
            }

            var ws = XLSX.utils.aoa_to_sheet(wsData);
            XLSX.utils.book_append_sheet(wb, ws, "Drug Details");

            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });

            function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'data.xlsx');
        });

        function saveAs(blob, fileName) {
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display:none";
            var url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
        }
    </script>
}