@{
    ViewData["Title"] = "門診周表";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!--Toastr-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

}


<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">

        <div class="x_panel">
            <div class="x_title">
                <h2>門診周表</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4">
                <label class="form-label"> </label>
                @* 按鈕觸發小窗 *@
                <button id="clinicadd" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ClinicAdd">新增門診</button>
            </div>
            <div class="mb-3" style="overflow: auto">
                <div class="col-md-3">
                    <label class="form-label">星期: </label>
                    <select class="form-control" id="selectedWeek">
                        <option value=all>全部</option>
                        <option value=1>星期一</option>
                        <option value=2>星期二</option>
                        <option value=3>星期三</option>
                        <option value=4>星期四</option>
                        <option value=5>星期五</option>
                        <option value=6>星期六</option>

                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">醫師: </label>
                    <select class="form-control" id="selectedDoctorname">
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">時段: </label>
                    <select class="form-control" id="selectedShift">
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label">科別: </label>
                    <select class="form-control" id="selectedDepartment">
                    </select>
                </div>

            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">

                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        @*  <th>id</th> *@
                                        <th style="display:none">Week</th>
                                        <th>星期</th>
                                        <th>醫師</th>
                                        <th>時段</th>
                                        <th>科別</th>
                                        <th>診間</th>
                                    </tr>
                                </thead>

                                <tbody id="tbody1">
                                   

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* //彈跳小窗 *@
<div class="modal fade" id="ClinicAdd" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="divCreateInfo">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    新增門診
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>

            </div>
            <div class="modal-body d-flex flex-column">
                <div class="mb-3 pb-2">
                    <!-- 新添加的行 -->
                    <div class="col-md-3">
                        <label class="form-label" style="font-size:16px">星期: </label>
                        <select class="form-control" id="selweek">
                            <option value=none>請選擇</option>
                            <option value=1>星期一</option>
                            <option value=2>星期二</option>
                            <option value=3>星期三</option>
                            <option value=4>星期四</option>
                            <option value=5>星期五</option>
                            <option value=6>星期六</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 pb-2">
                  <!-- 新添加的行 -->
                  <div class="col-md-3">
                    <label class="form-label" style="font-size:16px">醫師: </label>
                    <select class="form-control" id="selDoctorname">
                    </select>
                  </div>
                </div>

                <div class="mb-3 pb-2">
                    <!-- 新添加的行 -->
                    <div class="col-md-3">
                        <label class="form-label" style="font-size:16px">時段: </label>
                        <select class="form-control" id="selShift">
                        </select>
                    </div>
                </div>

                <div class="mb-3 pb-2">
                    <!-- 新添加的行 -->
                    <div class="col-md-3">
                        <label class="form-label" style="font-size:16px">診間: </label>
                        <select class="form-control" id="selRoom">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    關閉
                </button>
                <button id="ClinicAdd" type="button" class="btn btn-primary">
                    新增排班
                </button>
            </div>
        </div>
    </div>
</div>




@section Modules
{
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!--Toastr-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

}

@section Scripts{

    <script>
        const selDoctorname = document.querySelector('#selectedDoctorname');
        const scheduleTableBody = document.querySelector('#tbody1');
        const selWeek = document.querySelector('#selectedWeek');
        const selShift = document.querySelector('#selectedShift');
        const selDep = document.querySelector('#selectedDepartment');
        //小窗元素
        const selcreateWeek = document.querySelector('#selWeek');
        const selcreateDrName = document.querySelector('#selDoctorname');
        const selcreateShift = document.querySelector('#selShift');
        const selcreateRoom = document.querySelector('#selRoom');
        const btnClinicadd = document.querySelector('#ClinicAdd');

        // 套件
        toastr.options = {
            "closeButton": true,
            "showDuration": "300",
            "hideDuration": "500",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };


        //下拉選單匯入醫生名
        (async () => {
            const url = '@Url.Content("~/Schedule/api/SelectedDoctorName")';
            const response = await fetch(url);
            const datas = await response.json();

            //console.log(datas);
            const optDoctornames = datas.map(name => `<option value=${name.empId}>${name.name}</option>`);
            optDoctornames.unshift('<option value="alldoctor">全部</option>');


            selDoctorname.innerHTML = optDoctornames.join("");
        })();

        //下拉選單匯入時段
        (async () => {
            const url = '@Url.Content("~/Schedule/api/GetShifts")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas);

            const optShift = datas.map(shift => `<option value=${shift.clinicShifts}>${shift.clinicShifts}</option>`);
            optShift.unshift('<option value="allshift">全部</option>');

            selShift.innerHTML = optShift.join("");

        })();

        //下拉選單匯入科別
        (async () => {
            const url = '@Url.Content("~/Schedule/api/GetDepartment")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas)

            const optDep = datas.map(dep => `<option value=${dep}>${dep}</option>`);
            optDep.unshift('<option value="alldep">全部</option>');

            selDep.innerHTML = optDep.join("");

        })();



        function QueryWeekSchedule() {
            $('#datatable').dataTable({
                ajax: {
                    type: 'GET',
                    url: (`/Schedule/ClinicInfo/ShowWeekSchedule`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    // { "data": "id", "visible": false },
                    {"data":"week","visible":false},
                    { "data": "星期" },
                    { "data": "醫師" },
                    { "data": "時段" },
                    { "data": "科別" },
                    { "data": "診間" }
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json"
                },
                order: [[0, 'asc']]
            });

        }
        QueryWeekSchedule();

        
        //醫師搜尋功能
        selDoctorname.addEventListener('change', () => { searchName(); });
        function searchName() {
            const selectedDoctor = $('#selectedDoctorname option:selected').text()
            const table = $('#datatable').DataTable();
            //alert(selectedDoctor)
            if (selectedDoctor === '全部') {
                table.column(1).search("").draw();
            } else {
                table.column(1).search(selectedDoctor).draw();
            }

        }
        //時段搜尋功能
        selShift.addEventListener('change', () => { searchShift(); });
        function searchShift() {
            const selectedShift = $(selShift).val();
            const table = $('#datatable').DataTable();
            //alert(selectedShift);
            if (selectedShift === 'allshift') {
                table.column(2).search("").draw();
            } else {
                table.column(2).search(selectedShift).draw();
            }

        }

        //科別搜尋
        selDep.addEventListener('change', () => { searchDep(); });
        function searchDep() {
            const selectedDep = $(selDep).val();
            const table = $('#datatable').DataTable();
            if (selectedDep === 'alldep') {
                table.column(3).search("").draw();
            } else {
                table.column(3).search(selectedDep).draw();
            }
        }

        //星期搜尋
        selWeek.addEventListener('change', () => { searchWeek(); });
        function searchWeek() {
            const selectedWeek = $('#selectedWeek option:selected').text();
            const table = $('#datatable').DataTable();
            if (selectedWeek === '全部') {
                table.column(0).search("").draw();
            } else {
                table.column(0).search(selectedWeek).draw();
            }
        }


        //小窗醫生名匯入
        (async () => {
            const url = '@Url.Content("~/Schedule/api/SelectedDoctorName")';
            const response = await fetch(url);
            const datas = await response.json();

            const optDoctornames = datas.map(name => `<option value=${name.empId}>${name.name}</option>`);
            optDoctornames.unshift('<option value="none">請選擇</option>');

            selcreateDrName.innerHTML = optDoctornames.join("");
        })();

        //小窗下拉選單匯入時段
        (async () => {
            const url = '@Url.Content("~/Schedule/api/GetShifts")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas);

            const optShifts = datas.map(shift => `<option value=${shift.clinicTimeId}>${shift.clinicShifts}</option>`);
            optShifts.unshift('<option value="none">請選擇</option>');

            selcreateShift.innerHTML = optShifts.join("");

        })();

        //小窗下拉選單匯入診間
        (async () => {
            const url = '@Url.Content("~/Schedule/ClinicInfo/ShowRoom")';
            const response = await fetch(url); 
            const datas = await response.json();
            console.log(datas);

            const optRooms = datas.map(room => `<option value=${room.roomId}>${room.name}</option>`);
            optRooms.unshift('<option value="none">請選擇</option>'); 

            selcreateRoom.innerHTML = optRooms.join("");

        })();

  



    </script>

}
