@section Styles{
    
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/msit155e/css/schedule/starrating.css" rel="stylesheet" />
}
<style>
    td {
        text-align: center; /* 文字水平置中 */
        vertical-align: middle; /* 文字垂直置中 */
        white-space: pre; /* 保留空白容量 */
    }
    th {
        text-align: center; /* 文字水平置中 */
        vertical-align: middle; /* 文字垂直置中 */
        background-color: #DEB887;
        font-size:15px;
        color: #fff;
    }

    table th, table td, table tr {
        border: 2px solid #003153;
        padding: 10px;
    }
 table caption{
  background-color: #9CC0F9;
  color:#fff;
  border:2px solid #003153;
  border-bottom:none;
  padding:10px;
}

    ﻿.star-rating {
        line-height: 32px;
        font-size: 1.25em;
    }

    .star-rating .fa-star {
        color: yellow;
    }

    .fa-star-half-o {
        color: yellow;
    }
</style>


</style>




<div id="comp-lfkudben" style="margin-top:30px"><h1 style="text-align:center; font-size:47px; color:#003153 "><span style="letter-spacing:0.3em;border-bottom:3px solid #E69966  ">門診表</span></h1></div>
<div class="container-fluid" style="display:flex; flex-wrap:wrap; justify-content:center; margin:30px;  width:fit-content; margin:0 auto;">

    <table style="border: solid #003153; margin:10px">
        <caption style="caption-side:top; text-align:center; font-size:30px">婦產科</caption>
      
    <thead>
        <tr>
            <th></th>
            <th scope="col">日</th>
            <th scope="col">一</th>
            <th scope="col">二</th>
            <th scope="col">三</th>
            <th scope="col">四</th>
            <th scope="col">五</th>
            <th scope="col">六</th>
        </tr>
    </thead>
    <tbody id="department1">
        <tr id="morning">
            <th scope="row">早診<br />09:00<br />∣<br />12:30</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="noon">
            <th scope="row">午診<br />13:30<br />∣<br />17:00</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="night">
            <th scope="row">晚診<br />18:00<br />∣<br />21:30</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

    <table style="border : solid #003153;margin:10px">
        <caption style="caption-side:top; text-align:center; font-size:30px">小兒科</caption>
    <thead>
        <tr>
            <th></th>
            <th>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
    </thead>
    <tbody id="department2">
        <tr id="morning">
            <th scope="row">早診<br />09:00<br />∣<br />12:30</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="noon">
            <th scope="row">午診<br />13:30<br />∣<br />17:00</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="night">
            <th scope="row">晚診<br />18:00<br />∣<br />21:30</th>
            <td><div style="visibility:hidden">休診休診休診</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>



<div id="comp-lfkudben" style="margin-top:30px"><h1 style="text-align:center; font-size:47px; color:#003153"><span style="letter-spacing:0.3em; border-bottom:3px solid #E69966">醫師團隊</span></h1></div>


<div class="container-fluid" style="display:flex; flex-wrap:wrap; justify-content:center; margin:30px;  width:fit-content; margin:0 auto;">
    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="~/images/person_4.jpg" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal;border-left:6px solid #003153;padding:5px " class="wixui-rich-text__text">李培芸</span><span style="letter-spacing:normal; font-size:25px">&nbsp;院長</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample1">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                臺灣大學醫學院醫學系<br class="wixui-rich-text__text">
                                <br>
                                長庚醫院婦產部 主治醫師 &nbsp;<br class="wixui-rich-text__text">
                                長庚醫院婦產部 臨床教師 &nbsp;<br class="wixui-rich-text__text">
                                新光醫院婦產科 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                中華民國婦產科 專科醫師
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                周產期醫學、高危險妊娠、胎兒高層次超音波、常規產檢及衛教諮詢、一般婦科疾病診治、腹腔鏡及子宮鏡手術、更年期保健醫學
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">就診滿意度：</label>
                      
                                <div class="row" >
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep1"></label>
                                    <div class="col-lg-12" >
                                        <div class="star-rating" id="PatientSatisfaction1" >
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">醫師積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored1"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction1">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




         
            


        </div>
    </div>

    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="~/images/person_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal;border-left:6px solid #003153;padding:5px " class="wixui-rich-text__text">林子軒</span><span style="letter-spacing:normal; font-size:25px">&nbsp;副院長</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOneone" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOneone" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                高雄醫學大學醫學系<br class="wixui-rich-text__text">
                                臺灣大學醫學院生化所碩士<br class="wixui-rich-text__text">
                                <br>
                                台北榮民總醫院婦女醫學部 住院醫師/總醫師 &nbsp;<br class="wixui-rich-text__text">
                                板橋育馨婦產科診所 主治醫師 &nbsp;<br class="wixui-rich-text__text">
                                台灣婦產科醫學會 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                台灣周產期醫學會 會員
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwotwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwotwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                一般婦科、產科與超音波檢查、高危險妊娠、婦科腫瘤與癌症檢查、婦女泌尿疾病與保健
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThreethree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThreethree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">就診滿意度：</label>

                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep2"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="PatientSatisfaction2">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">醫師積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored2"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction2">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="~/images/person-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; border-left:6px solid #003153;padding:5px" class="wixui-rich-text__text">陳珮璇</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOnethree" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOnethree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                臺北醫學大學醫學系<br class="wixui-rich-text__text">
                                <br>
                                新光吳火獅紀念醫院婦產科 主治醫師 &nbsp;<br class="wixui-rich-text__text">
                                臺灣婦產科 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                中華民國周產期醫學會 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                中華民國醫用超音波學會 專科醫師
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwothree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwothree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                周產期醫學、高危險妊娠、高層次超音波、3D/4D超音波、產科手術、子宮頸癌預防篩檢、子宮卵巢微創手術、單孔腹腔鏡手術、子宮鏡手術、婦科腫瘤
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse33" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse33" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">就診滿意度：</label>

                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep3"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="PatientSatisfaction3">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">醫師積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored3"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction3">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="~/images/person_2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal;border-left:6px solid #003153;padding:5px " class="wixui-rich-text__text">吳予成</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOnefour" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOnefour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                高雄醫學大學醫學士<br class="wixui-rich-text__text">
                                臺灣大學分子細胞生物研究所<br class="wixui-rich-text__text">
                                <br>
                                林口長庚醫院 兒童內科部 住院醫師 &nbsp;<br class="wixui-rich-text__text">
                                林口長庚醫院 兒童心臟內科 研究醫師 &nbsp;<br class="wixui-rich-text__text">
                                台灣兒科醫學會 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                台灣小兒心臟科 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                中華民國心臟學會 會員 &nbsp;<br class="wixui-rich-text__text">
                                台灣氣喘學會 會員 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwofour" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwofour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                一般兒科疾病、疫苗注射、兒童預防保健及生長發育、兒童心臟超音波、兒童心臟學、兒童心導管、先天性心臟病診斷、兒童心雜音評估
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse43" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse43" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">醫師滿意度：</label>

                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep4"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="PatientSatisfaction4">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">醫師積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored4"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction4">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="~/images/person_3.jpg" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; border-left:6px solid #003153;padding:5px" class="wixui-rich-text__text">黃育維</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample5">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOnefive" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOnefive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                中國醫藥大學醫學系<br class="wixui-rich-text__text">
                                <br>
                                臺大醫院小兒部 住院醫師 &nbsp;<br class="wixui-rich-text__text">
                                臺大醫院小兒部 總醫師 &nbsp;<br class="wixui-rich-text__text">
                                臺大醫院小兒部感染科 研修醫師 &nbsp;<br class="wixui-rich-text__text">
                                臺灣兒科醫學會 專科醫師 &nbsp;<br class="wixui-rich-text__text">
                                臺灣感染症醫學會 專科醫師 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwofive" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwofive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                感冒、鼻竇炎、中耳炎、肺炎等兒童成人感染性疾病、呼吸道疾病、慢性咳嗽、過敏性鼻炎、氣喘、兒童預防保健、疫苗專業諮詢及注射
                            </span>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse53" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapse53" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">就診滿意度：</label>

                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep5"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="PatientSatisfaction5">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">看診積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored5"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction5">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="~/images/person_7.jpg" style="width:800; height:800" class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal;border-left:6px solid #003153;padding:5px " class="wixui-rich-text__text">趙美琴</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <div class="accordion" id="accordionPanelsStayOpenExample6">
               @*學經歷*@
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOnesix" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" style="background-color:#53B0AE">
                            學經歷
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOnesix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                長庚大學醫學系學士<br class="wixui-rich-text__text">
                                </br>
                                林口長庚醫院兒童內科部 住院醫師 &nbsp;<br class="wixui-rich-text__text">
                                林口長庚醫院兒童內科部 總醫師 &nbsp;<br class="wixui-rich-text__text">
                                林口長庚醫院兒童遺傳暨內分泌科 臨床研究員 &nbsp;<br class="wixui-rich-text__text">
                                林口長庚醫院兒童遺傳暨內分泌科 主治醫師 &nbsp;<br class="wixui-rich-text__text">
                                中華民國內分泌新陳代謝專科醫師
                            </span>
                        </div>
                    </div>
                </div>
               @*專長*@
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwosix" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="background-color:#E69966">
                            專長
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwosix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <span style="font-size:20px;" class="wixui-rich-text__text">
                                兒童及青春期生長發育評估、身材矮小、兒童甲狀腺及內分泌相關疾病、性早熟、兒童肥胖、兒童糖尿病
                            </span>
                        </div>
                    </div>

                </div>

                @*評價*@
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThreesix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color:#53B0AE">
                            評價
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThreesix" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">就診滿意度：</label>

                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scorep6"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="PatientSatisfaction6">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="rating-lists">
                                <label class="title" for="comment" style="font-size:20px">看診積極度：</label>
                                <div class="row">
                                    <label class="title" for="comment" style="font-size:20px; color:#C86D9D; font-weight:bold;" id="scored6"></label>
                                    <div class="col-lg-12">
                                        <div class="star-rating" id="DocSatisfaction6">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/msit155e/js/schedule/fclinicweekschedule.js"></script>
    <script>
        //1
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/1")';
        //     //console.log(url);
        //     const response = await fetch(url, { method: "POST" });
        //     const datas = await response.json();
        //     console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep1');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction1');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored1');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction1');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();

        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/1")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep1');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction1');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored1');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction1');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }



        //2
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/2")';
        //     //console.log(url);
        //     const response = await fetch(url, { method: "POST" });
        //     const datas = await response.json();
        //     console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep2');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction2');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored2');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction2');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();
        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/2")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            //console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep2');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction2');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored2');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction2');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }




        //3
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/3")';
        //     //console.log(url);
        //     const response = await fetch(url, { method: "POST" });
        //     const datas = await response.json();
        //     console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep3');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction3');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored3');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction3');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();
        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/3")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            //console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep3');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction3');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored3');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction3');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }




        //4
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/4")';
        //     //console.log(url);
        //     const response = await fetch(url, { method: "POST" });
        //     const datas = await response.json();
        //     console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep4');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction4');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored4');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction4');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();
        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/4")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            //console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep4');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction4');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored4');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction4');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }



        //5
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/5")';
        //     //console.log(url);
        //     const response = await fetch(url, { method: "POST" });
        //     const datas = await response.json();
        //     console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep5');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction5');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored5');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction5');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();
        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/5")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            //console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep5');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction5');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored5');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction5');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }




        //6
        // (async () => {
        //     const url = '@Url.Content("~/WeekSchedule/GS/6")';
        //     //console.log(url);
        //     const response = await fetch(url, { method:"POST" });
        //     const datas = await response.json();
        //     //console.log(datas);

        //     // 更新 醫師满意度评分
        //     const docScore = datas.docSatisfaction;
        //     const patScore = datas.patientSatisfaction;

        //     // 更新病人满意度星级评分
        //     const scoredLabelp = document.getElementById('scorep6');
        //     scoredLabelp.textContent = patScore + '分';

        //     const patientSatisfaction = document.getElementById('PatientSatisfaction6');
        //     const stars = patientSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < patScore; i++) {
        //         stars[i].classList.remove('fa-star-o');
        //         stars[i].classList.add('fa-star');
        //     }

        //     // //醫師積極度評分
        //     const scoredLabeld = document.getElementById('scored6');
        //     scoredLabeld.textContent = docScore + '分';

        //     const docSatisfaction = document.getElementById('DocSatisfaction6');
        //     const starsd = docSatisfaction.getElementsByClassName('fa');
        //     for (let i = 0; i < docScore; i++) {
        //         starsd[i].classList.remove('fa-star-o');
        //         starsd[i].classList.add('fa-star');
        //     }

        // })();
        (async () => {
            const url = '@Url.Content("~/WeekSchedule/GS/6")';
            //console.log(url);
            const response = await fetch(url, { method: "POST" });
            const datas = await response.json();
            //console.log(datas);

            // 更新 醫師满意度评分
            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;

            // 更新病人满意度星级评分
            const scoredLabelp = document.getElementById('scorep6');
            scoredLabelp.textContent = patScore;

            const patientSatisfaction = document.getElementById('PatientSatisfaction6');
            updateStarRating(patientSatisfaction, patScore);

            // 更新醫師積極度評分
            const scoredLabeld = document.getElementById('scored6');
            scoredLabeld.textContent = docScore;

            const docSatisfaction = document.getElementById('DocSatisfaction6');
            updateStarRating(docSatisfaction, docScore);
        })();

        function updateStarRating(element, rating) {
            const stars = element.getElementsByClassName('fa');
            const fullStars = Math.floor(rating);
            const hasHalfStar = rating - fullStars >= 0.5;
            for (let i = 0; i < stars.length; i++) {
                if (i < fullStars) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star');
                } else if (i === fullStars && hasHalfStar) {
                    stars[i].classList.remove('fa-star-o');
                    stars[i].classList.add('fa-star-half-o');
                } else {
                    stars[i].classList.remove('fa-star');
                    stars[i].classList.remove('fa-star-half-o');
                    stars[i].classList.add('fa-star-o');
                }
            }
        }

       

    </script>
    
}